[Unit]
Description=NodeJS App agent
After=rc-local.service

[Service]
Type=simple
WorkingDirectory={{ app_deploy_path }}/app/
ExecStart=/bin/bash -c 'exec /usr/bin/node {{ app_deploy_path }}/app/index.js 2>&1 >> {{ app_deploy_path }}/console.log'
Restart=always
RestartSec=10
SyslogIdentifier={{ app_deploy_name }}
User=ubuntu
Environment=NODE_ENV={{ node_env }}

[Install]
WantedBy=multi-user.target
